# Archivos de datos
*.csv
*.xlsx
!Output/*.csv

# Directorios de datos
Fotos/
Output/
Originales/
Fotos_bf/
Editar/
Grupos evolucion/
Fondo/

# Entorno virtual
.venv/
__pycache__/
*.pyc

# Archivos del sistema
.DS_Store
.vscode/ 